.book-card {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  border: 1px solid #e8e8e8;
  height: 150px;
  margin: 30px 80px 0;
  padding: 30px;
}

.card-details {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  gap: 5px;
}

.card-details h4 {
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #121212;
}

.card-details h2 {
  font-family: RobotoSlab, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
}

.card-details h3 {
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
}

.card-button {
  margin: 30px 10px 0 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  border: none;
  color: #4386bf;
  background-color: #fff;
}

.line2 {
  width: 0.2px;
  height: 22px;
  align-self: center;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
  margin: 30px 10px 0 0;
}

.book-completed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.3;
}

.circle {
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  border-radius: 50%;
  transform: rotate(45deg);
  margin-right: 1.3rem;
}

.percent {
  font-size: 2rem;
  color: #121212;
}

.completed {
  margin: 0.438rem 4.938rem 0.75rem 0;
  opacity: 0.5;
  font-size: 0.875rem;
  color: #121212;
}

.line3 {
  width: 0.5px;
  height: 5.375rem;
  align-self: center;
  border: solid 1px #e8e8e8;
  margin-right: 0;
  background-color: #e8e8e8;
}

.book-progress {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 5rem;
}

.book-progress h2 {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
}

.book-progress h3 {
  width: 4.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: RobotoSlab, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.book-progress button {
  width: 11.5rem;
  height: 2.063rem;
  margin: 1rem 0 0.563rem 3.688rem;
  padding: 10px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  color: #fff;
}
